

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;500;600&display=swap');

body{
     background-color: rgb(31, 29, 29);
}

.tik{
display: flex;
flex-direction: column;
align-items: center;
/* background-color: aqua; */
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
margin: 30px;
height: 75vh;
border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;

}
.grid{
  margin-top: 30px;
 display: grid;
 grid-template-columns: repeat(3, 100px);
 grid-template-rows: repeat(3, 100px);
 grid-gap: 10px;
 background-color: gold;
 box-shadow: 10px 10px #817777;
 
}

.grid .box{
 
     background-color: tomato;
     border: 1px solid #000;
     padding: 10px;
     font-size: 30px;
     text-align: center;
     cursor: pointer;
}

.icon{
     color: wheat;
}
.winner{
     display: flex;
     flex-direction: column;
     align-items: center;
}
#play-btn{
     padding: 10px;
     background-color: slategray;
     border-radius: 10px;
    color: hsl(0, 0%, 2%);
    font-size: 20px;
    font-family: 'Noto Serif Bengali', serif;
}
#play-btn:hover{
     background-color: red;
     cursor: pointer;
}
